
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}

#main{
    height: 100%;
    width: 100%;
}

#navbar{
    width: 100%;
    height: 50px;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#navbar a{
    color: white;
    text-decoration: none;
    font-weight: 100;
}

i{
    color: white;
}

#front{
    height: 80%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_small_2x.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;

}

#front h1{
    font-weight: 500;
    font-size: 55px;
}

#front h5{
    padding: 10px;
    font-weight: 100;
    font-size: 25px;
}


#link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#link button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    margin-top: 20px;
    border: none;
}

