*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;

}

.main{
    width: 100%;
    height: 500px;
    background-image: url(https://ik.imagekit.io/ikmedia/backlit.jpg);
    background-position: center;
    background-size: cover;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;

}

.main::-webkit-scrollbar{
    display: none;
}

#card{
    height: 100%;
    width: 300px;
    background-color: antiquewhite;
    border-radius: 30px;
    flex-wrap: nowrap;
    flex-shrink: 0;
    
}

#card img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}
 #header{
    width: 100%;
    height: 120px;
 }



#header h1{
    text-align: center;
    font-size: 100px;
    background-image: url(https://i.pinimg.com/originals/bd/35/7e/bd357e3e61f3b424f237d332462193a1.gif);
    background-clip: text;
    background-size: cover;
    color: transparent;
    -webkit-text-stroke: 3px white;

}