*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(18, 119, 99);
}

.main{
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgb(3, 42, 55);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;



}

#card{
    height: 320px;
    width: 320px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

#card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#bottom{
    width: 100%;
    height: 40%;
    bottom: -40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20%;
    background: linear-gradient(transparent ,black);
    position: absolute;
    transition: all ease 1s;

}

#bottom h4{ 
    font-size: 30px;
    font-weight: 500;
    color: white;

}

#bottom h3{
    color: white;
    
}

#card:hover #bottom{ 
    cursor: pointer;
    bottom: 0;

}
