*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: bisque;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    overflow: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin-top: -50px;   
}

h1{

    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

#card{
    width: 20%;
    height: 40%;
    background-color: aquamarine;
    box-shadow: 10px 10px 30px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 30px;
}

#card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#card p{
    padding: 10px;
    margin-left: 13px;

}
#card h5{
    font-size: 16px;
    margin-right: 115px;
}

#card h3{
    font-size: 17px;
    margin-right: 75px;
}

#card button{
    background-color: rgb(78, 211, 255);
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 20px;
    
}

#card button:hover{
    cursor: pointer;
    color: red;
}