* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 130px;

    grid-template-areas: "header"
                         "about-section"
                         "footer"   
    ;

}


html, body {
      height: 100%;
      width: 100%;
      background-color: black;
    }
    
#navbar{
    background-color: white;
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

} 

h1{
    font-size: 20px;
    font-weight: 400;
    padding: 190px;
    
}


 a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 20px;

 }

#navbar button{
    height: 45px;
    width: 90px;
    border-radius: 30px;

 }



.about-section{
    background-color: rgb(240, 240, 240);
    grid-area: about-section;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);


}

#section-text{
    display: flex;
    justify-items: flex-start;
}

#section-text h1{
    font-size: 40px;
    font-weight: 600;
    padding: 70px;
    white-space: nowrap;
}

#section-text p{
    padding: 60px;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 120px;

}


.first-b{
    height: 60px;
    width: 180px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
}

.second-b{
    height: 60px;
    width: 120px;
    border-radius: 30px;
    font-size: 16px;
}

#about-img{
    padding: 50px  120px;

}

img{
    width: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 40px;
}


.footer{
    background-color: white;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.stat h2{
    font-size: 50px;
    font-weight: 100;

}

.stat p{
    padding-top: 12px;
}


main1{
    height: 100%;
    width: 100%;

}



